* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3d405b;
    background-image: linear-gradient(rgba(61, 64, 91, 0.9), rgba(61, 64, 91, 0.1)), url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #e07a5f;
}

.container {
    padding: 15px;
    max-width: 1100px;
    margin: auto;
}

/* header */
header {
    color: #fff;
    transition: background-color 0.3s;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: 0.4s;
}

#header:hover {
    background-color: #3d405b;
}

#header.open #navigation {
    transform: translateX(0px);
    transition: transform 0.4s;
}

#header.open #nav-toggle {
    background-color: rgba(255,255,255, 0.1);
}

#header.scrolled {
    background-color: #3d405b;
}

#logo {
    width: 80%;
    display: inline-block;
    font-weight: 900;
}

#logo a {
    font-size: 1.5rem;
}

#nav-toggle {
    padding: 10px;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 10px;
}

#nav-toggle:hover,
#nav-toggle:active {
    color: #e07a5f;
}

header a {
    color: #fff;
    padding: 15px;
    display: inline-block;
}

#navigation {
    width: 300px;
    background-color: #3d405b;
    position: absolute;
    left: 0;
    min-height: 100vh;
    transform: translateX(-1000px);
    transition: transform 0.4s;
}

#navigation a {
    display: block;
    opacity: 0.8;
    text-transform: uppercase;
}

#navigation a:hover {
    opacity:  1;
}

/* Intro */
#intro .container {
    min-height: 100vh;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

.intro-text h1 strong,
.intro-text h1 em {
    font-size: 2rem;
    padding: 5px;
    display: block;
    color: #e07a5f;
    text-transform: uppercase;
}

.call-to-action {
    text-align: center;
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 15px;
}

.btn {
    padding: 14px;
    border: 2px solid transparent;
    text-align: center;
    border-radius: 4px;
}

.btn-highlight {
    color: #eee;
    background-color: #e07a5f;
}

.btn-highlight:hover {
    color: #fff;
    border: 2px solid #fff;
}

.intro-text .btn {
    display: block;
}

.btn i {
    padding-right: 10px;
}

/* About me  */
#about-me {
    margin-bottom: 30px;
    color: #fff;
    background-color: #3d405bde;
    text-align: center;
}

#about-me .container {
    min-height: 100vh;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me img {
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
}

.whoiam-text h3 {
    padding: 15px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.whoiam-text p {
    text-align: justify;
}

/* Services  */
#services {
    margin-bottom: 30px;
    color: #fff;
    background-color: #3d405bde;
    text-align: center;
}

#service-container {
    min-height: 100vh;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#services h2 {
    padding: 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.service:hover .service-icon {
    outline: 5px solid #e07a5f;
    background-color: #e07a5f;
    outline-offset: 5px;
}

.service:hover .service-title {
    color: #e07a5f;
}

.service:hover .service-desc {
    opacity: 1;
}

.service-icon {
    font-size: 3.5rem;
    margin: 35px 0; 
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 20px;
    transform: rotate(45deg);
    transition: background-color 0.4s, outline 0.4s, outline-offset 0.4s;
    outline: 5px solid transparent;
    outline-offset: 0px;
}

.service-icon i {
    transform: rotate(-45deg);
}

.service-title {
    padding: 20px 0;
    font-size: 1.6rem;
}

.service-desc {
    opacity: 0;
    transition: 0.4s;
}

/* Projects */

#projects {
    padding-top: 92px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #3d405bde;
    text-align: center;
}

.projects-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects h2 {
    padding: 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.project {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 10px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 4px;
}

.project-info {
    opacity: 0;
    transition: opacity 0.4s, background-color 0.4s;
}

.project-info h3 {
    font-size: 1.5rem;
    padding: 10px 0px;
}

.project-info p {
    padding: 10px 0px;
}

.project:hover .project-info {
    opacity: 1;
    background-color: #3d405bde;
}

.project:nth-child(1) {
    background-image: url(../images/img-1.jpg);
}

.project:nth-child(2) {
    background-image: url(../images/img-2.jpg);
}

.project:nth-child(3) {
    background-image: url(../images/img-3.jpg);
}

.project:nth-child(4) {
    background-image: url(../images/img-4.jpg);
}

.project:nth-child(5) {
    background-image: url(../images/img-5.jpg);
}

.project:nth-child(6) {
    background-image: url(../images/img-6.jpg);
}

/* Contact */
#contact {
    color: #fff;
    background-color: #3d405bde;
}
#contact .container {
    min-height: 100vh;
    padding-top: 92px;
}
#contact .container,
#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2 {
    padding: 15px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

form {
    width: 80%
}

form input,
form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border: 3px solid transparent;
    resize: none;
    transition: border 0.4s;
    border-radius: 4px;
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
    border: 3px solid #e07a5f;
}

form button {
    margin-top: 20px;
    cursor: pointer;
    border: 3px solid #fff;
    transition: border 0.4s;
    font-size: 1.1rem;
}

/* Footer */
#footer {
    background-color: #3d405b;
    color: #fff;
    text-align: center;
}

#footer .link {
    display: inline-block;
    font-size: 1.2rem;
    padding: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    width: 70px;
    height: 70px;
    border: 3px solid transparent;
    transition: border 0.4s, color 0.4s;
}

#footer .link:hover {
    color: #e07a5f;
    border: 3px solid #e07a5f;
}

#footer .link:hover i {
    color: #e07a5f;
}

/* Media query for tablets */
@media screen and (min-width: 750px) {
    #logo {
        width: 25%;
    }

    #nav-toggle {
        display: none;
    }

    #navigation {
        transform: translateX(0px);
        width: 74%;
        background-color: inherit;
        position: static;
        display: inline-block;
        text-align: center;
        min-height: auto;
    }

    #navigation li {
        display: inline-block;
        margin-right: 1%;
    }

    #service-container,
    .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #service-container h2,
    .projects-container h2 {
        display: block;
        width: 100%;
    }

    .service,
    .project {
        width: 48%;
        margin: 1%;
    }
}

/* Media query for desktop */
@media screen and (min-width: 1000px) {
    .service,
    .project {
        width: 30%;
    }
}