* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3d405b;
    background-image: linear-gradient(rgba(61, 64, 91, 0.9), rgba(61, 64, 91, 0.1)), url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    padding: 15px;
    max-width: 1100px;
    margin: auto;
}

/* header */
header {
    color: #fff;
    transition: background-color 0.3s;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: 0.4s;
}

#header:hover {
    background-color: #3d405be5;
}

#header.open #navigation {
    transform: translateX(0px);
    transition: transform 0.4s;
}

#header.open #nav-toggle {
    background-color: rgba(255,255,255, 0.1);
}

#header.scrolled {
    background-color: #3d405b;
}

#logo {
    width: 70%;
    display: inline-block;
    font-weight: 900;
}

#logo a {
    font-size: 1.5rem;
}

#nav-toggle {
    width: 25%;
    display: inline-block;
    font-size: 1.5rem;
    text-align: right;
    border-radius: 10px;
}

header a {
    color: #fff;
    padding: 15px;
    display: inline-block;
}

#navigation {
    width: 300px;
    background-color: #3d405b;
    position: absolute;
    left: 0;
    min-height: 100vh;
    transform: translateX(-1000px);
    transition: transform 0.4s;
}

#navigation a {
    display: block;
    opacity: 0.8;
    text-transform: uppercase;
}

#navigation a:hover {
    opacity:  1;
}

/* Intro */
#intro {
    min-height: 100vh;
    text-align: center;
}

.intro-text {
    position: relative;
    top: 100px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.intro-text h1 strong,
.intro-text h1 em {
    font-size: 2rem;
    padding: 5px;
    display: block;
    color: #e07a5f;
    text-transform: uppercase;
}

.call-to-action {
    margin: 30px 10px;
}

.btn {
    padding: 14px;
    border: none;
    text-align: center;
    border-radius: 4px;
}

.btn-highlight {
    color: #fff;
    background-color: #e07a5f;
}

.intro-text .btn {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.btn i {
    padding-right: 10px;
}

/* About me  */
#about-me {
    min-height: 100vh;
    padding: 20px 0;
    color: #fff;
    background-color: #3d405bde;
    text-align: center;
}

#about-me img {
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
}
.whoiam-text h3 {
    padding: 15px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.whoiam-text p {
    text-align: justify;
}

/* Services  */
#services {
    min-height: 100vh;
    margin: 40px 0;
    padding: px 0;
    color: #fff;
    background-color: #3d405bde;
    text-align: center;
}

#services h2 {
    padding: 15px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.service {
    margin: 20px 0;
    text-align: center; 
}

.service:hover .service-icon {
    outline: 5px solid #e07a5f;
    background-color: #e07a5f;
    outline-offset: 5px;
}

.service:hover .service-title {
    color: #e07a5f;
}

.service:hover .service-desc {
    opacity: 1;
}

.service-icon {
    font-size: 3.5rem;
    margin: 35px 0; 
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 20px;
    transform: rotate(45deg);
    transition: background-color 0.4s, outline 0.4s, outline-offset 0.4s;
    outline: 5px solid transparent;
    outline-offset: 0px;
}

.service-icon i {
    transform: rotate(-45deg);
}

.service-title {
    padding: 20px 0;
    font-size: 1.6rem;
}

.service-desc {
    opacity: 0;
    transition: 0.4s;
}